body {
	background: lightgray;
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
}

h2 {
	text-align: center;
	width: 100%;
	margin: auto;
	padding: 30px 0 30px 0;
}

li {
	line-height: 0;
	font-weight: 700;
	padding-top: 5px;
}

li p {
	padding: 0 0 15px 20px;
	border-bottom: solid #a9a9a9 2px;
	font-weight: 400;
	line-height: 1.5;
}

.li-head {
	font-weight: 300;
}

ul {
	list-style-type: none;
}

hr {
	border: 0.5px solid gray;
	padding: 0 30px 0 0;
	/* width: 95%; */
}

#main {
	width: 100%;
	margin: auto;
}

#white {
	background: white;
}

#title {
	display: none;
}

#img-div {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#image {
	max-width: 600px;
	width: 100%;

	display: block;
	padding: 30px 0 0 0;
}

#big-head-text {
	font-size: 48px;
	text-align: center;
}

#img-caption {
	font-style: italic;
	text-align: center;
	padding: 10px 0 20px 0;
}

#who-is {
	text-align: center;
	max-width: 600px;
	width: 95%;
	margin: auto;
}

#tribute-info {
	background: lightgray;
	margin: auto;
	max-width: 600px;
	width: 95%;
}

.read-more {
	text-align: center;
	width: 95%;
	margin: auto;
}

#tribute-link {
	text-decoration: none;
}

#tribute-link p {
	text-align: center;
}

.div-pad {
	padding: 10px;
}

.center {
	text-align: center;
	max-width: 600px;
	width: 95%;
	margin: auto;
	padding: 0 0 15px 20px;
}

@media only screen and (max-width: 600px) {
	#tribute-info {
		margin: 0%;
	}
}
